<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softudy.there"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <!-- Permiso para usar internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Se usa la librerias -->
        	 <uses-library android:name="com.google.android.maps"/>  	
        
        <!-- Pantalla principal de la aplicacion -->
        <activity
            android:name="controllers.MainActivity"
            android:label="@string/title_activity_main" >
            <!-- intent-filter primer view que mostrara -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- LLeva al view Registrar -->
        <activity
            android:label="@string/app_name"
      	    android:name="controllers.RegistrarActivity" >       
        </activity>
        
        
         <!-- Activity con Google Maps -->
         <activity 
             android:label="@string/app_name"
             android:name="controllers.MActivity">
         </activity>
        
        
    </application>

</manifest>