<!DOCTYPE html>
<head>
	<title>There</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery-ui-map/jquery.ui.map.js"></script>
	<script type="text/javascript">

		var There = {
			startWatching : function(){
				var self = this;
				navigator.geolocation.watchPosition(function(position){
					console.log(position);
					self.displayPosition(position);
				})
			},
			displayPosition : function(pos){
				console.log("QUIERES CAMBIAR POSICIÓN");
				$('#map_canvas').gmap({
					'center':pos.coords.latitude + "," + pos.coords.longitude , 
					'zoom': 17,
					'disableDefaultUI':true,
					'callback': function() {
						var self = this;
						self.addMarker({'position': this.get('map').getCenter() }).click(function() {
							self.openInfoWindow({ 'content': 'Hola, soy <%=user.name%>!' }, this);
						});
					}
				});

				$('#basic_map').live('pageshow', function() {
					$('#map_canvas').gmap('refresh'); 
				});
			} 
		}


		$('#basic_map').live('pageinit', function() {
			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(function(data){
					var position = data;
					There.displayPosition(position);
					There.startWatching();
				},function(error){
					console.error(error);
				},{enableHighAccuracy:true});
			}else{
				console.error("Geolocation not supported.");
			}			 
		});

		


	 $(document).ready(function() {

            $("#f_signup-i_submit").click(function(){
 
                var formData = $("#f_signup").serialize();
 
                $.ajax({
                    type: "POST",
                    url: "/sign-up",
                    cache: false,
                    data: formData,
                    success: function(data,status){
                    	data = $.trim(data);
                    	console.log(data);
                    },error: function(data,status){

                    }
                });
 
                return false;
            });


			$('form').on('submit', function (e) {

			    var $this = $(this);

			    //prevent the form from submitting normally
			    e.preventDefault();

			   //show the default loading message while the $.post request is sent
			    $.mobile.showPageLoadingMsg();

			    //send $.post request to server, `$this.serialize()` adds the form data to the request
			    $.post($this.attr('action'), $this.serialize(), function (response) {
			    	$.mobile.hidePageLoadingMsg();
			    	console.log(response);

                	var users = response.users;

                	var list = $("<ul data-role='listview' data-theme='g'/>");
                	

                	for(var i in users){
                		var list_user = $('<li><a href="#"><img width="100" height="100" src="' + users[i].picture + '" class="ui-li-thumb"/><h3 class="ui-li-heading">' + users[i].name + '</h3><p class="ui-li-desc">' + users[i].location + "," + users[i].country + '</p></a></li>');
                		list.append(list_user);
                	}

                	$("div[data-url='search'] div[data-role='content']").empty();
                	$("div[data-url='search'] div[data-role='content']").append(list).trigger("create");
                	

			        //you can now access the response from the server via the `response` variable
			        
			    }, 'json') //you can set the response data-type as well
			    .error(function(e) {
			        $.mobile.showPageLoadingMsg();
			        console.log('my_function_name, ' + e.responseText); 
			    });
			});


            
        });

	</script>

	<style type="text/css">

		* {
			font-family: "Trebuchet MS" !important;
		}

		.there , *[data-role="header"]{
			background-image: linear-gradient(bottom, rgb(173,29,0) 1%, rgb(189,30,2) 51%, rgb(179,27,0) 76%);
			background-image: -o-linear-gradient(bottom, rgb(173,29,0) 1%, rgb(189,30,2) 51%, rgb(179,27,0) 76%);
			background-image: -moz-linear-gradient(bottom, rgb(173,29,0) 1%, rgb(189,30,2) 51%, rgb(179,27,0) 76%);
			background-image: -webkit-linear-gradient(bottom, rgb(173,29,0) 1%, rgb(189,30,2) 51%, rgb(179,27,0) 76%);
			background-image: -ms-linear-gradient(bottom, rgb(173,29,0) 1%, rgb(189,30,2) 51%, rgb(179,27,0) 76%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.01, rgb(173,29,0)),
				color-stop(0.51, rgb(189,30,2)),
				color-stop(0.76, rgb(179,27,0))
			);

			font-family: Sansation !important;
		}

		div[data-role="page"] {
			background:#E6E7E8 !important;
		}
	</style>

</head>
<body>

<div id="basic_map" data-role="page" data-url="profile">

	<div class="there" data-role="header">
		<h1>THERE</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile" class="ui-btn-active">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	

	<div data-role="content">	
		
		<div class="ui-bar-c ui-corner-all ui-shadow" style="padding:1em;">
			<div id="map_canvas" style="height:350px;"></div>
		</div>

		<div class="followers-watching">
			<h4 style="margin-bottom:5px !important">Ellos pueden verte :</h4>
			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/572890_1440246516_1610901045_q.jpg" title="Daniel Flores"/></a>

			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211470_1068804334_8357124_q.jpg" title="Roberto Espinoza"/></a>

			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/369968_100002245931396_1306681079_q.jpg" title="Josef Villena"/></a>

			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/161355_100003220056078_220943401_q.jpg" title="Miguel Shinno"/></a>

			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/565094_607703626_1487434648_q.jpg" title="Victor Villar"/></a>

			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/572456_1270467084_977682702_q.jpg" title="Petar Nestorovic"/></a>

			<a href="/users/dnielf" data-ajax="false"><img class="follower-picture picture-min" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/157754_100000749872029_849391481_q.jpg" title="Roger Riquelme"/></a>

		</div>


	</div><!-- /content -->

</div><!-- /page -->


<!--==========================================
	OPCIONES - CUENTA
	========================================-->

<div data-role="page" data-url="options-account">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options" class="ui-btn-active">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->


	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
	        	<label for="name">Nombre de usuario:</label>
	        	<input type="text" name="name" id="name" value="<%=user.username%>"  />
			</li>
			<li data-role="fieldcontain">
	        	<label for="name">Email:</label>
	        	<input type="text" name="name" id="name" value="<%=user.email%>"  />
			</li>

			<li data-role="fieldcontain">
	        	<fieldset data-role="controlgroup">
					<legend>Geolocalización :</legend>
					<input type="checkbox" name="checkbox-1a" id="checkbox-1a" class="custom" />
					<label for="checkbox-1a">Pública</label>
	
					<input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom" />
					<label for="checkbox-2a">Privada - Solo contactos</label>
	
					<input type="checkbox" name="checkbox-3a" id="checkbox-3a" class="custom" />
					<label for="checkbox-3a">Personalizada</label>
			    </fieldset>
			</li>


			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<legend>Idioma</legend>
					<select name="select-choice-0" id="select-choice-1">
					   <option value="standard">Inglés</option>
					   <option value="rush">Español</option>
					   <option value="express">Ruso</option>
					   <option value="overnight">Klingon</option>
					</select>
			    </fieldset>
			</li>
			<li data-role="fieldcontain">
	        	<label for="textarea">Biografía:</label>
			<textarea cols="40" rows="8" name="textarea" id="textarea">Soy estudiante de la Universidad de Lima</textarea>
			</li>
			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<legend>País</legend>
					<select name="select-choice-0" id="select-choice-1">
					   <option value="standard">Perú</option>
					   <option value="rush">Chile</option>
					   <option value="express">Jappón</option>
					   <option value="overnight">Rusia</option>
					</select>
			    </fieldset>
			</li>
			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><a href="#" data-role="button" data-icon="delete" data-theme="d" data-iconpos="left" data-rel="back" >Cancelar</a></div>
						<div class="ui-block-b"><button type="submit" data-theme="a">Guardar</button></div>
			    </fieldset>
			</li>
		</ul>
	</div>
</div>

<!--==========================================
	OPCIONES - CONTRASEÑA
	========================================-->

<div data-role="page" data-url="options-password">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options" class="ui-btn-active">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->


	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
	        	<label for="name">Cambiar contraseña:</label>
	        	<input type="password" name="password" id="password" placeholder="Nueva contraseña"  />
	        	<input type="text" name="name" id="name" placeholder="Confirmar contraseña"  />
			</li>
			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><a href="#" data-role="button" data-icon="delete" data-theme="d" data-iconpos="left" data-rel="back" >Cancelar</a></div>
						<div class="ui-block-b"><button type="submit" data-theme="a">Guardar</button></div>
			    </fieldset>
			</li>
		</ul>
	</div>

</div>

<!--==========================================
	OPCIONES - NOTIFICACIONES
	========================================-->

<div data-role="page" data-url="options-notifications">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options" class="ui-btn-active">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->


	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
	        	<fieldset data-role="controlgroup">
					<legend>Atributos de notificaciones :</legend>
					<input type="checkbox" name="checkbox-1a" id="checkbox-1a" class="custom" />
					<label for="checkbox-1a">Vibración</label>
	
					<input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom" />
					<label for="checkbox-2a">Reproducir sonido</label>
	
					<input type="checkbox" name="checkbox-3a" id="checkbox-3a" class="custom" />
					<label for="checkbox-3a">Auto-revisar notificaciones</label>
			    </fieldset>
			</li>
			<li data-role="fieldcontain">
			    <fieldset data-role="controlgroup" data-type="horizontal">
			     	<legend>Estado :</legend>
			         	<input type="radio" name="notification-state" id="notification-state-on" value="on" checked="checked" />
			         	<label for="notification-state-on">Activar</label>
			         	<input type="radio" name="notification-state" id="notification-state-off" value="off" />
			         	<label for="notification-state-off">Desactivar</label>
			    </fieldset>
			</li>
			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><a href="#" data-role="button" data-icon="delete" data-theme="d" data-iconpos="left" data-rel="back" >Cancelar</a></div>
						<div class="ui-block-b"><button type="submit" data-theme="a">Guardar</button></div>
			    </fieldset>
			</li>
		</ul>
	</div>
</div>

<!--==========================================
	OPCIONES - DISEÑO
	========================================-->

<div data-role="page" data-url="options-design">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options" class="ui-btn-active">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->


	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
				 <fieldset data-role="controlgroup">
			    	<legend>Color de fondo :</legend>
			         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
			         	<label for="radio-choice-1">Amarillo</label>

			         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
			         	<label for="radio-choice-2">Azul</label>

			         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
			         	<label for="radio-choice-3">Rojo</label>

			         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
			         	<label for="radio-choice-4">Verde</label>
			    </fieldset>
			</li>
			<li data-role="fieldcontain">
				<label for="select-choice-a" class="select">Estilos:</label>
				<select name="select-choice-a" id="select-choice-a" data-native-menu="false">
					<option>Estilos disponibles</option>
					<option value="standard">There</option>
					<option value="rush">Jenckins</option>
					<option value="express">Mordor</option>
					<option value="overnight">Perú</option>
				</select>
			</li>
			<li data-role="fieldcontain">
			    <fieldset class="containing-element" data-role="controlgroup" data-type="horizontal">
			     	<legend>Estado :</legend>
							<select name="slider" id="flip-min" data-role="slider">
								<option value="off">Personalizado</option>
								<option value="on">Predeterminado</option>
							</select>
			    </fieldset>
			</li>
			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><a href="#" data-role="button" data-icon="delete" data-theme="d" data-iconpos="left" data-rel="back" >Cancelar</a></div>
						<div class="ui-block-b"><button type="submit" data-theme="a">Guardar</button></div>
			    </fieldset>
			</li>
		</ul>
	</div>
</div>

<!--==========================================
	OPCIONES - BÚSQUEDA
	========================================-->

<div data-role="page" data-url="options-search-options">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options" class="ui-btn-active">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->


	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
				 <fieldset data-role="controlgroup">
			    	<legend>Cantidad de personas por búsqueda :</legend>
						<input type="range" name="slider" id="slider-step" value="10" min="10" max="50" step="10" />
			    </fieldset>
			</li>
			<li data-role="fieldcontain">
				 <fieldset data-role="controlgroup">
			    	<legend>Cantidad de rutas por búsqueda :</legend>
						<input type="range" name="slider" id="slider-step" value="10" min="10" max="50" step="10" />
			    </fieldset>
			</li>
			<li class="ui-body ui-body-b">
				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><a href="#" data-role="button" data-icon="delete" data-theme="d" data-iconpos="left" data-rel="back" >Cancelar</a></div>
						<div class="ui-block-b"><button type="submit" data-theme="a">Guardar</button></div>
			    </fieldset>
			</li>
		</ul>
	</div>
</div>

<!--==========================================
	OPTIONS
	========================================-->

<div data-role="page" data-url="options">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options" class="ui-btn-active">Opciones</a></li>
				<li><a data-icon="search" href="#search">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->


	<div data-role="content">
		<ul data-role="listview" data-theme="g">
			<li><a href="#options-account">Cuenta</a></li>
			<li><a href="#options-password">Contraseña</a></li>
			<li><a href="#options-notifications">Notificaciones</a></li>
			<li><a href="#options-design">Diseño</a></li>
			<li><a href="#options-search-options">Opciones de búsqueda</a></li>
		</ul>
	</div>

	

</div><!-- /page -->

<!--==========================================
	BUSCAR
	========================================-->

<div data-role="page" data-url="search">

	<div data-role="header">
		<h1>There</h1>
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile">Mi perfil</a></li>
				<li><a data-icon="gear" href="#options">Opciones</a></li>
				<li><a data-icon="search" href="#search" class="ui-btn-active">Buscar</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">	
		<form id="f_search" action="search" method="POST" data-ajax="false">
			<input type="search" name="searching" id="i_search" placeholder="Búsqueda ..."/>
			<input type="submit" data-theme="b" id="f_search-i_submit" value="Buscar"/>
		</form>



		<!--
			Thumbnails & icons
To add thumbnails to the left of a list item, simply add an image inside a list item as the first child element. The framework will scale the image to 80 pixels square. To use standard 16x16 pixel icons in list items, add the class of ui-li-icon to the image element.
-->

	<!--<ul data-role="listview" data-theme="g">
		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/173172_1079936984_379287142_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Francisco Yushimito</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211470_1068804334_8357124_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Roberto Espinoza</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/572890_1440246516_1610901045_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Daniel Flores</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/161355_100003220056078_220943401_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Mitsuo Shinno</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/371275_1257032201_984465114_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Estafina Quiroz</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/161192_705322460_1830054953_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Pedro Bautista</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/369211_1496714512_1150324623_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Gustavo San Miguel</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>

		<li>
			<a href="acura.html">
				<img width="100" height="100" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369723_100002474854940_407940724_n.jpg" class="ui-li-thumb"/>
				<h3 class="ui-li-heading">Luis Espinoza</h3>
				<p class="ui-li-desc">Lima,Perú</p>
			</a>
		</li>
	</ul>-->


	</div><!-- /content -->

</div><!-- /page -->

</body>